<html>
  <body>	 
	<h1> Creating New Department </h1> 
	<hr />	
	
	<form  action="/create" method="post">
		Deptno  : <input   name="t1"  />
		<br/><br/>
        Dname  : <input   name="t2"  />
        <br/><br/>
        Location  : <input   name="t3"  />
		<br/><br/>
		<input  type="submit"  value="Create"  />
		<br/><br/>
	</form>	
 </body>
</html>


