<html>
  <body>	 
	<h1> Updating  Department </h1> 
	<hr />	
	
	<form  action="/edit" method="post">
		Deptno  : <input  readonly  name="t1" value="<%=deptObj.deptno%>"  />
		<br/><br/>
        Dname  : <input   name="t2" value="<%=deptObj.dname%>"  />
        <br/><br/>
        Location  : <input   name="t3" value="<%=deptObj.loc%>"  />
		<br/><br/>
		<input  type="submit"  value="Edit"  />
		<br/><br/>
	</form>	
 </body>
</html>


